.file-manager-container,
.file-manager-container *,
.file-manager-container *:before,
.file-manager-container *:after {
    box-sizing: border-box;
}

.file-manager-container {
    position: relative;
    .file-manager-box {
        font-size: 13px;
        border-radius: 3px;
        height: 100%;
        width: 100%;
        border: 1px solid #d9d9d9;
        display: flex;
        flex-direction: column;
        &.with-shadow {
            border-color: transparent;
            box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
        }
    }
    .file-manager-header {
        height: 32px;
        line-height: 32px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #d9d9d9;
        flex: 0 0 32px;
        max-height: 32px;
        .file-manager-header-title {
            padding-left: 10px;
        }
        .file-manager-header-actions {
            display: flex;
            padding-right: 10px;
            padding-top: 10px;
            .fm-header-action-item {
                cursor: pointer;
                width: 12px;
                height: 12px;
                display: block;
                background-repeat: no-repeat;
                background-size: 100%;
            }
            .fm-header-action-close {
                background-image: url(./assets/close.svg);
            }
        }
    }
    .file-manager-toolbar {
        height: 32px;
        padding-left: 7px;
        padding-top: 3px;
        display: flex;
        flex: 0 0 32px;
        max-height: 32px;
        .file-manager-toolbar-item {
            border: 0;
            cursor: pointer;
            border-radius: 3px;
            outline: none;
            background-color: #e0e0e0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 24px;
            margin-left: 3px;
            margin-right: 3px;
            width: 28px;
            transition: all 300ms;
            &:enabled:hover {
                background-color: #d0d0d0;
            }
            &:enabled:active {
                opacity: 0.7;
            }
            &:not(:enabled) {
                opacity: 0.2;
                cursor: default;
            }
            img {
                margin: auto;
            }
        }
    }
    .file-manager-body {
        display: flex;
        height: calc(100% - 64px);
        border-top: 1px solid #d9d9d9;
        flex: 1;
    }
    .file-manager-sidebar {
        overflow: auto;
        height: 100%;
        padding: 10px 20px 10px 5px;
        flex: 0 0 200px;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            ul {
                margin-left: 10px;
            }
        }
        .file-manager-sidebar-item {
            .file-manager-sidebar-item-label {
                display: flex;
                cursor: pointer;
                margin-bottom: 2px;
                user-select: none;
            }
            .file-manager-sidebar-item-collapse-target {
                cursor: pointer;
                flex: 0 0 14px;
                text-align: center;
                line-height: 22px;
            }
            .file-manager-sidebar-item-name {
                padding: 2px 5px 3px 3px;
                border-radius: 3px;
                background-color: transparent;
                color: #3f3f3f;
                transition: all 300ms;
                &:hover {
                    background-color: #e3e3e3;
                }
            }
            &.active {
                > .file-manager-sidebar-item-label > .file-manager-sidebar-item-name {
                    background-color: #58a3c9;
                    color: #fff;
                }
            }
        }
    }
    .file-manager-files {
        flex: 1;
        border-left: 1px solid #d9d9d9;
        display: flex;
        flex-direction: column;
        position: relative;
        .file-manager-breadcrumb {
            padding-left: 5px;
            border-top: 1px solid #d9d9d9;
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                font-size: 11px;
                line-height: 18px;
                flex-wrap: wrap;
                li {
                    margin-right: 2px;
                    &:before {
                        content: "/";
                        margin-right: 1px;
                        position: relative;
                        top: -1px;
                    }
                }
            }
        }
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #00000040;
            background-image: url(./assets/loading.svg);
            background-repeat: no-repeat;
            background-position: center center;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s 300ms, opacity 300ms;
        }
        &.files-loading {
            &:after {
                visibility: visible;
                opacity: 1;
                transition: visibility 0s, opacity 300ms;
            }
        }
        .file-manager-box-files {
            overflow: auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        .file-manager-file-items {
            flex: 1;
        }
        .file-manager-grid-files {
            display: flex;
            flex-wrap: wrap;
            flex: 1;
            align-items: flex-start;
            align-content: flex-start;
            min-height: 100%;
            position: relative;
            .file-manager-file-item {
                flex: 0 0 130px;
                max-width: 130px;
                min-height: 82px;
                margin: 10px;
                background-color: transparent;
                color: #3f3f3f;
                padding: 5px;
                border-radius: 3px;
                user-select: none;
                transition: all 300ms;
                &:hover {
                    background-color: #f2f2f2;
                }
                &.selected {
                    background-color: #58a3c9;
                    color: #fff;
                }
                .fm-item-banner {
                    margin-bottom: 5px;
                    height: 100px;
                    position: relative;
                    &.fm-item-banner-folder {
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        svg {
                            height: 100px;
                            fill: #3f3f3f;
                        }
                    }
                    &.fm-item-banner-file {
                        text-align: center;
                        svg {
                            height: 100px;
                            fill: #3f3f3f;
                        }
                        img {
                            max-height: 100px;
                            max-width: 100%;
                            object-fit: contain;
                            border-radius: 5px;
                            box-shadow: 0 0 3px #00000010;
                            position: relative;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                    &.fm-item-banner-disabled {
                        &:after {
                            content: "";
                            position: absolute;
                            top: 20px;
                            left: 20px;
                            background-color: #fff;
                            background-image: url(./assets/lock.svg);
                            background-size: 16px;
                            background-repeat: no-repeat;
                            background-position: center;
                            width: 20px;
                            height: 20px;
                            opacity: 0.5;
                            border-radius: 10px;
                        }
                    }
                }
                &.selected {
                    .fm-item-banner.fm-item-banner-folder svg {
                        fill: #fff;
                    }
                    .fm-item-banner.fm-item-banner-file svg {
                        fill: #fff;
                    }
                }
                .fm-item-file-name {
                    text-align: center;
                    font-size: 12px;
                    word-wrap: break-word;
                    white-space: -moz-pre-wrap;
                    white-space: pre-wrap;
                }
            }
            .selection-wrap {
                position: absolute;
                background-color: #58a3c950;
                border-radius: 1px;
                border: 1px solid #58a3c9;
                visibility: hidden;
            }
        }
    }
    .file-manager-modal {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #00000040;
        opacity: 0;
        z-index: -1;
        transition: opacity 300ms, z-index 0s 300ms;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 3px;
            background-color: #00000040;
            background-image: url(./assets/loading.svg);
            background-repeat: no-repeat;
            background-position: center center;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s 300ms, opacity 300ms;
        }
        &.modal-loading {
            &:after {
                visibility: visible;
                opacity: 1;
                transition: visibility 0s, opacity 300ms;
            }
        }
        .file-manager-modal-fog {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        .file-manager-modal-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 15px;
            background-color: #fff;
            box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
            border-radius: 3px;
            text-align: center;
        }
        &.file-manager-modal-active {
            opacity: 1;
            z-index: 100;
            transition: opacity 300ms, z-index 0s;
        }
        &.file-manager-modal-notification {
            top: 70px;
            right: 6px;
            transform: none;
            bottom: unset;
            left: unset;
            background-color: transparent;
            .file-manager-modal-content {
                position: initial;
                transform: unset;
            }
            .file-manager-modal-body {
                margin-bottom: 0;
            }
        }
        .file-manager-modal-message {
            margin-bottom: 20px;
        }
        .file-manager-modal-body {
            margin-bottom: 20px;
            input {
                outline: none;
                line-height: 32px;
                padding: 0 8px;
                border: 1px solid #d9d9d9;
                border-radius: 3px;
            }
        }
        .file-manager-modal-actions {
            button {
                margin: 0 5px;
                border: 0;
                padding: 5px 15px;
                border-radius: 3px;
                cursor: pointer;
                background-color: #e0e0e0;
                outline: none;
                transition: all 300ms;
                &:not(:enabled) {
                    opacity: 0.5;
                    cursor: default;
                }
                &:enabled:hover {
                    background-color: #d0d0d0;
                }
                &:active {
                    opacity: 0.7;
                }
            }
        }
    }
    .fm-input-center {
        text-align: center;
    }
    .fm-global-loading {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 3px;
        background-color: #00000040;
        background-image: url(./assets/loading.svg);
        background-repeat: no-repeat;
        background-position: center center;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 300ms, opacity 300ms;
        z-index: 101;
        &.fm-global-loading-active {
            visibility: visible;
            opacity: 1;
            transition: visibility 0s, opacity 300ms;
        }
    }
    .fm-spinning {
        animation-name: fmspin;
        animation-duration: 500ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

@keyframes fmspin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
